.all{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(108, 108, 108);
}
.row {
    display: flex;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgb(184, 160, 147);
    border: .5px solid rgb(155, 139, 124);
}